<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 not found.</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
      body {
        background-color: #161616;
        font-family: "Roboto", sans-serif;
      }
      * {
        color: white;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <center>
        <h1 style="font-size: 5em">404</h1>
        <h2 style="font-size: 2em">Requested file could not be found.</h2>
      </center>
    </div>
  </body>
</html>
